<div class="container">
  <h2>Promotions</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ipsam voluptatibus perspiciatis quasi qui earum aperiam consectetur voluptatem et, commodi ut eum, aliquam cum voluptate nam porro aliquid, repellat eligendi?</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eligendi odit tempora adipisci sit maiores. Delectus velit iure debitis consequuntur mollitia sequi inventore ab ullam iusto? Inventore unde incidunt ex.</li>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem deleniti libero harum labore at. Commodi fugit qui laborum itaque vero. Vero eius quas, amet laudantium itaque necessitatibus debitis quibusdam repellendus!</li>
  </ul>
  <h2>Recent Updates</h2>
  <ul>
    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim ipsam voluptatibus perspiciatis quasi qui earum aperiam consectetur voluptatem et, commodi ut eum, aliquam cum voluptate nam porro aliquid, repellat eligendi?</li>
    <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis eligendi odit tempora adipisci sit maiores. Delectus velit iure debitis consequuntur mollitia sequi inventore ab ullam iusto? Inventore unde incidunt ex.</li>
    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem deleniti libero harum labore at. Commodi fugit qui laborum itaque vero. Vero eius quas, amet laudantium itaque necessitatibus debitis quibusdam repellendus!</li>
  </ul>
</div>