<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink='/'>
      <svg class="logo" xmlns="http://www.w3.org/2000/svg" version="1.0" width="32" height="32" viewBox="0 0 512.000000 512.000000">
        <g transform="translate(0.000000,512.000000) scale(0.10000,-0.100000)" stroke="none">
        <path d="M1440 4160 l0 -480 160 0 160 0 0 320 0 320 1280 0 1280 0 0 -1760 0 -1760 -1440 0 -1440 0 0 -160 0 -160 1600 0 1600 0 0 2080 0 2080 -1600 0 -1600 0 0 -480z"/>
        <path d="M544 3190 c-50 -20 -70 -93 -39 -137 24 -34 77 -47 114 -28 36 18 51 43 51 84 0 59 -71 105 -126 81z"/>
        <path d="M840 3105 l0 -95 270 0 270 0 0 95 0 95 -270 0 -270 0 0 -95z"/>
        <path d="M490 2755 l0 -95 270 0 271 0 -3 93 -3 92 -267 3 -268 2 0 -95z"/>
        <path d="M1253 2835 c-83 -36 -64 -157 28 -171 50 -8 99 33 99 83 0 47 -16 72 -55 89 -40 16 -32 17 -72 -1z"/>
        <path d="M1955 2836 c-83 -36 -65 -158 26 -172 50 -8 99 33 99 83 0 47 -16 72 -55 89 -40 16 -33 16 -70 0z"/>
        <path d="M1581 2814 c-25 -21 -31 -33 -31 -65 0 -55 34 -89 90 -89 85 0 121 90 61 151 -37 37 -79 38 -120 3z"/>
        <path d="M480 2400 l0 -90 270 0 270 0 0 90 0 90 -270 0 -270 0 0 -90z"/>
        <path d="M1190 2400 l0 -90 270 0 270 0 0 90 0 90 -270 0 -270 0 0 -90z"/>
        <path d="M1897 2483 c-4 -3 -7 -44 -7 -90 l0 -83 270 0 270 0 0 90 0 90 -263 0 c-145 0 -267 -3 -270 -7z"/>
        <path d="M2600 2400 l0 -90 270 0 270 0 0 90 0 90 -270 0 -270 0 0 -90z"/>
        <path d="M3310 2400 l0 -90 265 0 265 0 0 90 0 90 -265 0 -265 0 0 -90z"/>
        <path d="M555 2132 c-79 -16 -95 -131 -23 -168 60 -31 124 1 134 68 10 58 -50 112 -111 100z"/>
        <path d="M840 2045 l0 -95 265 0 265 0 0 95 0 95 -265 0 -265 0 0 -95z"/>
        <path d="M1540 2045 l0 -95 270 0 270 0 0 95 0 95 -270 0 -270 0 0 -95z"/>
        <path d="M2250 2045 l0 -95 270 0 271 0 -3 93 -3 92 -267 3 -268 2 0 -95z"/>
        <path d="M2957 2133 c-4 -3 -7 -46 -7 -95 l0 -88 270 0 270 0 0 95 0 95 -263 0 c-145 0 -267 -3 -270 -7z"/>
        </g>
        </svg>
    </a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="navbar-collapse collapse" id="navbars">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/blog">Blog</a>
          </li>
      </ul>
      <ul class="navbar-nav ">
        <li *ngIf='!authService.isLoggedIn()' class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/account/login">Account</a>
        </li>
        <li *ngIf="authService.hasRoles([' Admin '])" class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/blog/post/new']">New Post</a>
        </li>
        <li *ngIf='authService.isLoggedIn()' class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/account/profile">Setting</a>
        </li>
        <li *ngIf='authService.isLoggedIn()' class="nav-item">
          <a class="nav-link" routerLink="/" (click)="onLogoutClick()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>