<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a routerLink='/'>
      <svg class='logo'
           xmlns="http://www.w3.org/2000/svg"
           version="1.0"
           width="32"
           height="32"
           viewBox="0 0 512.000000 512.000000"
           preserveAspectRatio="xMidYMid meet">
        <g transform="translate(0.000000,512.000000) scale(0.100000,-0.100000)"
           stroke="none">
          <path d="M1600 4140 l0 -980 180 0 180 0 0 800 0 800 1400 0 1400 0 0 -2380 0 -2380 180 0 180 0 0 2560 0 2560 -1760 0 -1760 0 0 -980z"
          />
          <path d="M0 1580 l0 -120 120 0 120 0 0 120 0 120 -120 0 -120 0 0 -120z" />
          <path d="M480 1580 l0 -120 360 0 360 0 0 120 0 120 -360 0 -360 0 0 -120z" />
          <path d="M0 1100 l0 -120 360 0 360 0 0 120 0 120 -360 0 -360 0 0 -120z" />
          <path d="M960 1100 l0 -120 120 0 120 0 0 120 0 120 -120 0 -120 0 0 -120z" />
          <path d="M1440 1100 l0 -120 120 0 120 0 0 120 0 120 -120 0 -120 0 0 -120z" />
          <path d="M1920 1100 l0 -120 120 0 120 0 0 120 0 120 -120 0 -120 0 0 -120z" />
          <path d="M0 620 l0 -120 360 0 360 0 0 120 0 120 -360 0 -360 0 0 -120z" />
          <path d="M960 620 l0 -120 360 0 360 0 0 120 0 120 -360 0 -360 0 0 -120z" />
          <path d="M1920 620 l0 -120 360 0 360 0 0 120 0 120 -360 0 -360 0 0 -120z" />
          <path d="M2890 620 l0 -120 360 0 360 0 0 120 0 120 -360 0 -360 0 0 -120z" />
          <path d="M3870 620 l0 -120 360 0 360 0 0 120 0 120 -360 0 -360 0 0 -120z" />
          <path d="M0 140 l0 -120 120 0 120 0 0 120 0 120 -120 0 -120 0 0 -120z" />
          <path d="M480 140 l0 -120 360 0 360 0 0 120 0 120 -360 0 -360 0 0 -120z" />
          <path d="M1440 140 l0 -120 360 0 360 0 0 120 0 120 -360 0 -360 0 0 -120z" />
          <path d="M2400 140 l0 -120 360 0 360 0 0 120 0 120 -360 0 -360 0 0 -120z" />
          <path d="M3360 140 l0 -120 360 0 360 0 0 120 0 120 -360 0 -360 0 0 -120z" /> </g>
      </svg>
    </a>
    <button class="navbar-toggler collapsed"
            type="button"
            data-toggle="collapse"
            data-target="#navbars"
            aria-controls="navbars"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse"
         id="navbars">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <li class="nav-item">
            <a class="nav-link"
               [routerLinkActive]="['active']"
               [routerLinkActiveOptions]="{exact:true}"
               routerLink="/blog">busydoor</a>
          </li>
      </ul>
      <ul class="navbar-nav ">
        <li *ngIf='!userService.isLoggedIn'
            class="nav-item">
          <a class="nav-link"
             [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{exact:true}"
             routerLink="/account/login">Account</a>
        </li>
        <li *ngIf="userService.withAuth()"
            class="nav-item">
          <a class="nav-link"
             [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{exact:true}"
             [routerLink]="['/blog/post/new']">New Post</a>
        </li>
        <li *ngIf='userService.isLoggedIn'
            class="nav-item">
          <a class="nav-link"
             [routerLinkActive]="['active']"
             [routerLinkActiveOptions]="{exact:true}"
             routerLink="/account/profile">{{userService.currentUser.username}}</a>
        </li>
        <li *ngIf='userService.isLoggedIn'
            class="nav-item">
          <a class="nav-link"
             routerLink="/"
             (click)="onLogoutClick()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
