<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink='/'>Busydoor</a>
    <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbars" aria-controls="navbars" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="navbar-collapse collapse" id="navbars">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <li class="nav-item">
            <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/blog">Blog</a>
          </li>
      </ul>
      <ul class="navbar-nav ">
        <li *ngIf='!authService.isLoggedIn()' class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/account/login">Account</a>
        </li>
        <li *ngIf="authService.hasRoles([' Admin '])" class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/blog/post/new']">New Post</a>
        </li>
        <li *ngIf='authService.isLoggedIn()' class="nav-item">
          <a class="nav-link" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact:true}" routerLink="/account/profile">Setting</a>
        </li>
        <li *ngIf='authService.isLoggedIn()' class="nav-item">
          <a class="nav-link" routerLink="/" (click)="onLogoutClick()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</nav>