<div>
  <div class="container page">

    <div class="row">
      <div class="md-col-12">
        <div [innerHTML]='renderedContent'></div>
      </div>
    </div>
    <div>
      <a *ngIf="post" [routerLink]="['/blog/post/edit', post?._id]" class="btn btn-sm btn-outline-secondary faedit">
        Edit
      </a>
      <a *ngIf="post" [routerLink]="['/blog/edit', post?._id]" class="btn btn-sm btn-outline-secondary fatrash">
        Remove
      </a>
      <a *ngIf="post" [routerLink]="['/blog/post/edit', post?._id]" class="btn btn-sm btn-outline-secondary fathumbsup">
        Like
      </a>
    </div>
    <div>
      <app-post-comment *ngFor="let comment of comments" [comment]='comment'>

      </app-post-comment>
    </div>
  </div>
</div>
<!-- <div [innerHTML]='post?.body|markdown'></div> -->
