<h1>Post Page</h1>
<form [formGroup]="postForm" (submit)="onConfirm()">
  <div class="form-group">
    <label for="title">Title</label>
    <input id="title" formControlName="title" type="text" class="form-control" placeholder="Title">
  </div>
  <div class="form-group">
    <label for="summary">Summary</label>
    <textarea id="summary" formControlName="summary" rows="2" class="form-control" placeholder="summary"></textarea>
  </div>
  <div class="form-group">
    <label for="contenturl">content url</label>
    <input id="contenurl" formControlName="contenturl" type="URL" class="form-control" placeholder="content url">
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea id="content" formControlName="content" rows="8" class="form-control" placeholder="Content"></textarea>
  </div>

  <input [disabled]="!postForm.valid" type="submit" class="btn btn-primary" value="{{operationText}}">
</form>
