<section class="container post_item">
  <div class='row'>
    <a class='col-md-3 post_img_cover'>
      <div *ngIf="post?.sticky" class='stick left'>
        <a href="#">Sticky Post</a>
      </div>
      <img class="figure-img img-fluid" src="assets/images/icon_door-650x650.png">
      <div *ngIf="post.comments.length>0" class="comment-count">
        {{ post.comments.length}}</div>
    </a>
    <article class='col-md-9 post_text_cover'>
      <header class="entry-header">
        <h2 class="entry-title" itemprop="headline">
          <a [routerLink]='this.post._id' rel="bookmark">{{post.title}}</a>
        </h2>
        <div class='date float-sm-right'>
          <time [attr.datetime]="post.timestamp" class='actual-date'>
            {{post.timestamp | date:'short'}}
          </time>
        </div>
      </header>
      <div class="entry-headline" itemprop="text">
        <p>{{post.summary}}</p>
      </div>
      <footer *ngIf="post?.tags.length > 0" class="entry-footer">
        <ul class="tag-list">
          <li class="tagitem" *ngFor="let tag of post.tags">
            {{ tag }}
          </li>
        </ul>
      </footer>
    </article>
  </div>
</section>