<h1>Register Page</h1>

<form [formGroup]="form" (submit)="onRegister()">
  <div class="form-group">
    <label for="username">Username</label>
    <input formControlName="username" type="text" class="form-control" placeholder="Username">
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <div [ngClass]="{'has-error': (form.controls.email.errors && form.controls.email.dirty), 'has-success': !form.controls.email.errors}">
      <input formControlName="email" type="text" name="email" class="form-control" placeholder="Email">
      <!-- Validation -->
      <ul class="help-block">
        <li *ngIf="form.controls.email.errors?.required && form.controls.email.dirty">This field is required</li>
        <li *ngIf="(form.controls.email.errors?.minlength && form.controls.email.dirty || form.controls.email.errors?.maxlength && form.controls.email.dirty ) && form.controls.email.dirty">Minimum characters: 5, Maximum characters: 30</li>
        <li *ngIf="form.controls.email.errors?.validateEmail && form.controls.email.dirty">This must be a valid e-mail</li>
      </ul>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input formControlName="password" type="text" class="form-control" placeholder="Password">

  </div>
  <div class="form-group">
    <label for="confirm">Confirm Password</label>
    <input formControlName="confirm" type="text" class="form-control" placeholder="Confirm Password">
  </div>

  <input [disabled]="!form.valid" type="submit" class="btn btn-primary" value="Submit">
</form>
