<div class="card">
  <div class="card-body">
    <p class="card-text">
      {{ comment.text }}
    </p>
  </div>
  <div class="card-footer">
    <a class="comment-author" [routerLink]="['/profile', comment.username]">
      {{ comment.username }} {{ comment.userid }}
    </a>
    <span class="date-posted">
      {{ comment.posted | date: 'short' }}
    </span>
    <span class="mod-options" aria-label="delete comment" [hidden]="!canModify" (click)='onDeleteComment()'>
    </span>
  </div>
</div>
