/* You can add global styles to this file, and also import other style files */

.gridlines {
  background-image: linear-gradient(90deg, rgb(250, 250, 250) 1px, transparent 1px, transparent 10px, rgb(251, 251, 251) 11px, transparent 11px, transparent 20px, rgb(251, 251, 251) 21px, transparent 21px, transparent 30px), linear-gradient(0deg, rgb(250, 250, 250) 1px, transparent 1px, transparent 10px, rgb(251, 251, 251) 11px, transparent 11px, transparent 20px, rgb(251, 251, 251) 21px, transparent 21px, transparent 30px);
  background-size: 30px 30px;
}

.logo {
  fill: white;
}

.logo-footer {
  fill: black;
}

.navbar-nav>li>a.active {
  color: rgba(255, 255, 255, 0.75);
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 5rem;
  margin-top: 1rem;
  /* Margin bottom by footer height */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}


/* Custom page CSS
  -------------------------------------------------- */


/* Not required for template or sticky footer method. */

footer>.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid #42A948;
  /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442;
  /* red */
}

.text-center {
  text-align: center;
}

.post_item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.blog_content {
  line-height: 2;
}

.comment-count {
  position: absolute;
  top: 15px;
  left: -1px;
  background: #f53145;
  padding: 10px 15px;
  color: #fff;
}

.comment-count::before {
  content: "\f075";
  font-family: "FontAwesome";
}

.faedit::before {
  content: "\f040";
  font-family: "FontAwesome";
}

.fatrash:before {
  content: "\f1f8";
  font-family: "FontAwesome";
}
.post-summary{
  padding: 10px 20px;
  margin: 0 0 20px;
  border-left: 5px solid #eee;
  color: rgb(136,136,136);
}
article header .actual-date {
  color: #f53145;
  margin: 5px 0 0 0;
  text-transform: uppercase;
  letter-spacing: .5px;
}

.container.page {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.tag-pill {
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 0.4rem;
}

.tag-list {
  padding: 0;
  color: #999999;
}

ul.tag-list li {
  display: inline-block !important;
}

.fathumbsup::before {
  content: "\f164";
  font-family: "FontAwesome";
  animation: pulse-shadow 5s infinite;
}

@keyframes pulse-shadow {
  0% {
    box-shadow: 0 0
  }
  30% {
    box-shadow: 0 0
  }
  80% {
    box-shadow: 0 0 5px 10px rgba(255, 255, 255, 0)
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0)
  }
}

.card {
  margin-bottom: 0.75rem;
}

.boxshadow {
  box-shadow: 0px 0px 8px #999;
  background: rgba(255, 255, 255, 0.5);
}

#outletcontent {
  padding-top: 56px;
  padding-bottom: 2rem;
}

.entry-headline {
  color: #999999;
}

.entry-title>a {
  color: inherit;
}

.blog_content {
  padding-bottom: 60px;
}

.post_comments {
  border-top: 1px solid #DDDDDD;
}

.footer_links>li {
  display: inline-block;
  list-style-type: disc;
}

li {
  list-style-type: none;
}

.tagitem::before {
  content: '`'
}

.sticky_post {
  position: absolute;
  z-index: 3;
}

.stick {
  position: absolute;
  top: 42px;
  width: 200px;
  padding: 1px 0;
  background: rgba(0, 0, 0, .3);
  color: #eee;
  -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.stick.left {
  left: -42px;
  -moz-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.stick a {
  display: block;
  padding: 1px 0;
  height: 24px;
  line-height: 24px;
  color: inherit;
  text-align: center;
  text-decoration: none;
  font-family: 'Cabin Condensed', sans-serif;
  font-size: 16px;
  font-weight: 500;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -moz-text-shadow: 0 0 10px rgba(0, 0, 0, 0.31);
  -webkit-text-shadow: 0 0 10px rgba(0, 0, 0, 0.31);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.31);
}

.post_img_cover {
  overflow: hidden;
}

.entry-footer {
  position: absolute;
  bottom: 0;
}

.post-info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.post-info dt,
.post-info dd {
  display: flex;
}

dd {
  margin-right: 15px;
  margin-top: auto;
  margin-bottom: auto;
}


/* // Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */

@media (max-width :768px) {
  .post_item {
    position: relative;
    padding: 3rem 2rem;
  }
  .entry-headline {
    color: hsla(0, 0%, 100%, .98);
  }
  .post_img_cover {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
    max-height: 300px;
    overflow: hidden;
    float: none;
  }
  .post_text_cover {
    display: block;
    position: relative;
    width: 100%;
    z-index: 2;
    color: #fff;
    padding: 120px 40px 40px;
    background-color: rgba(0, 0, 0, .42);
  }
  ul {
    padding: 0px;
  }
}

@media print {
  app-header,
  app-footer {
    display: none;
  }
  #outletcontent {
    padding-top: 0;
  }
  .col-sm-1,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .offset-sm-2 {
    margin-left: 16.66666667%;
  }
}