<article class="container page boxshadow cvmain">
  <header class='row'>
    <h1 class='col-12'>Ray Chen</h1>
    <p class='col-12'>Love coding and learning. Believe technology is always making something different.</p>
    <h2 class='col-12'>Full Stack Engineer</h2>
  </header>
  <section class='row resume_session'>
    <h2 class='col-sm-1'>Skills</h2>
    <ul class='col-sm-9 offset-sm-2'>
      <li class='cv-listitem'>Feel comfortable with JavaScript/Typescript, HTML/CSS, VC++, T-SQL(advanced)，C#/WPF. Python limited.</li>
      <li class='cv-listitem'>Familiar with MEAN(MongoDB, ExpressJS, Angular2+, NodeJS) full-stack development process.</li>
      <li class='cv-listitem'>Good understanding of Subversion Control, Software Engineer.</li>
    </ul>
  </section>
  <article class='row resume_session'>
    <h2 class='col-sm-1'>Experience</h2>
    <div class='col-sm-9 offset-sm-2'>
      <section class='exp'>
        <h3 class='experience_h3'>Senior Developer
          <span class="time">
            <time datetime="2013-05-20"
                  class="start">2013</time> &#8211; Present </span>
        </h3>
        <p>
          <strong>
            <!-- https://www.rib-software.com -->RIB Software</strong>
          <b>Guangzhou, China</b>
        </p>
        <ul>
          <li class='cv-listitem'>
            <p>
              <span> Enhance and maintain company's core product(ITWO). </span>
              <span class='add-info'> VC++, MFC; C#/WPF (little); Database </span>
            </p>
          </li>
          <li class='cv-listitem'>
            <p>
              <span> Designed, developed and delivered customized reports independently, clarified requirements, leaded and supported
                a project of four team members.</span>
              <span class="add-info"> Javascript, T-SQL, VBScript, XSLT, XHR</span>
            </p>
          </li>
          <li class='cv-listitem'>
            <p>
              <span> Provided configurable integrated tools(Connector) based on external system interfaces to make data could be
                interactived between each other. </span>
              <span class='add-info'> JavaScript, VC++ </span>
            </p>
          </li>
          <li class='cv-listitem'>
            <ul class='cv-others-item'>
              <li>Manage product's database versions</li>
              <li>Create configuration wizard with Python</li>
              <li>Business intelligence researching</li>
              <li>Performance diagnosing and optimizing</li>
              <li>Recruitment involved</li>
              <li>Business meeting abroad</li>
              <li>Write manuals and specifications</li>
              <li>Person of leader's backup</li>
            </ul>
          </li>
        </ul>
      </section>
      <section class='exp'>
        <h3 class='experience_h3'>Developer
          <span class="time">
            <time datetime="2011-06-01"
                  class="start">2011</time> &#8211; 2013 </span>
        </h3>
        <p>
          <strong>
            <!-- http://www.bingosoft.net -->Bingosoft</strong>
          <b>Guangzhou, China</b>
        </p>
        <ul>
          <li class='cv-listitem'> As core developer, setup fashion and data oriented web applications. </li>
          <li class='cv-listitem'> Enhanced internal DataOne product, a configurable platform from data source to final report. </li>
          <li>
            <span class='add-info'>C#, Silverlight(WPF), WCF, Database.</span>
          </li>
        </ul>
      </section>
    </div>
  </article>
  <section class='row resume_session'>
    <h2 class='col-sm-1'>Education</h2>
    <div class='col-sm-9 offset-sm-2'>
      <h3>Guangdong University of Technology – Network Engineer
        <span class='time'>
          <time datetime='2007-09-01'>2007</time> &#8211;
          <time datetime='2011-06-30'>2011</time>
        </span>
      </h3>
    </div>
  </section>
  <footer class='cv_footer'>
    <div class="cv_card">
      <p class="tel">
        <strong>
          <span class="type">Tel</span>:</strong>
        <a href="callto:+13580358315"
           rel="me">13580358315</a>
      </p>
      <p class="email">
        <strong>Email:</strong>
        <a href="mailto:cbingrui@gmail.com"
           title="Email Ray Chen"
           rel="me">cbingrui@gmail.com</a>
      </p>
      <p class="github">
        <strong>Github:</strong>
        <a href="https://github.com/cbingrui">https://github.com/cbingrui</a>
      </p>
    </div>
  </footer>
</article>
