body {
  background-color: #dedede;
  font: normal 0.75em/1.5 'Georgia', 'Times New Roman', serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #111;
  font-family: 'Tahoma', 'Helvetica', 'Droid Sans', sans-serif;
  letter-spacing: 1px;
}

h1 {
  border-bottom: 0.07142855em double #444;
  color: #000;
  font: normal 3.5em/2 'Georgia', sans-serif;
  text-align: center;
}

header h1 {
  text-shadow: 2px 3px 2px #999;
}

h2 {
  color: #000;
  font-size: 1.5em;
  letter-spacing: 0.07142855em;
  font-variant: small-caps;
}
/* 24px / 16px */

h3 {
  font-size: 1.25em;
  line-height: 1.42857em;
  position: relative;
}

.experience_h3 {
  border-bottom: 0.07142855em solid rgb(200, 174, 174);
}
/* 20px / 16px */

.time,
b {
  font-size: 0.75em;
  font-weight: normal;
  float: right;
  margin-top: 0;
  padding-top: 0;
  right: 0;
}

.resume_session {
  border-top: 0.07142855em solid #333;
}

.cvmain {
  position: relative;
}
.cv-listitem {
  list-style-type: disc;
}
@media screen and (min-width: 320px) {
  .cv_card {
    border: none;
    display: block;
    margin: 1em 10px 1em -3px !important;
    position: inherit;
    width: 100%;
  }
}

@media screen and (min-width: 767px) {
  .cv_card {
    background-color: #eaeaea;
    border: 1px solid #dedede;
    box-shadow: 2px 3px 6px #999;
    right: 0px;
    margin: 10px;
    padding: 6px 10px;
    position: absolute;
    top: 0px;
    text-align: right;
    width: 230px;
  }
  .cv_card strong {
    display: none;
  }
}
ul.cv-others-item {
  padding-left: 0;
  list-style: none;
  font-size: 0.85em;
}
ul.cv-others-item > li {
  width: 320px;
  display: inline-block;
}
.cv-listitem span {
  display: inline-block;
}

.cv-listitem span.add-info {
  display: block;
}

.add-info {
  font-style: italic;
  font-size: 0.8em;
}
.add-info::before {
  content: '> ';
}
.cv-listitem > p {
  display: inline-block;
  vertical-align: text-top;
  margin-bottom: 0.5em;
}
.cv_card p {
  margin-bottom: 0.2em;
}
.sd-from {
  font-size: 0.5em;
}
@media print {
  .btn-print-cv {
    display: none;
  }
  .cv_footer {
    margin-top: 1em;
  }
  .cv_card {
    border: none;
    background-color: #fff;
    margin-left: 0;
    margin-top: 0;
    padding-left: 0;
    position: inherit !important;
    width: 100%;
  }
  .cv_card p {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 1em;
  }
  .cv_card strong {
    display: inline-block;
  }
}
