<article class="container cvmain">
  <header class='row'>
    <h1 class='col-12'>Ray Chen</h1>
    <h2 class='col-12'>Full Stack Engineer</h2>
    <p class='col-12'>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Delectus, repudiandae facere quae rem modi earum inventore
      porro dolor maxime veniam cum error ut temporibus mollitia iure nostrum quisquam sunt culpa.</p>
  </header>

  <article class='row resume_session'>
    <h2 class='col-sm-1'>Experience</h2>
    <div class='col-sm-9 offset-sm-2'>

      <section class='exp'>
        <h3 class='experience_h3'>Senior Developer
          <span class="time">
            <time datetime="2013-05-20" class="start">2013</time>
            &#8211; Present
          </span>
        </h3>
        <p><strong><!-- https://www.rib-software.com -->RIB Software</strong> <b>Guangzhou, China</b></p>
        <ul>
          <li>Designed, developed and delivered tens of customized reports independently, including clarify requirements, lead
            and support a set of reports for team members. Reporting tools: FastReport, MS-Excel, OLAP Report; Data Sources:
            XML, MS SQL Server, network JSON Technologies: Javascript, T-SQL, VBScript, XSLT</li>

          <li>Follow the different application or system interfaces, provided the configurable integrated tools(Connector) to
            make data be interactive between each other. Technologies: JavaScript, HTML; C#, WPF</li>
          <li>Maintain and add new functions for company core product(ITWO) and tens of tasks been done. Technologies: VC++,
            MFC; Some C#, WPF; Database</li>
          <li>
            Database versions management. Python configuration wizard. Business intelligence researching. Performance diagnosing and
            optimizing. Get involved in the recruitment, business meeting abroad. Write manuals and specifications. Leader's
            backup person.
          </li>
        </ul>
      </section>

      <section class='exp'>
        <h3 class='experience_h3'>Developer
          <span class="time">
            <time datetime="2013-05-20" class="start">2013</time>
            &#8211; Present
          </span>
        </h3>
        <p><strong><!-- http://www.bingosoft.net -->Bingosoft</strong> <b>Guangzhou, China</b></p>
        <ul>
          <li>Setup three fashion and data oriented web applications for communication corporation. As core developer, clarified
            requirements from leader and implemented. Technologies: C#, Silverlight(WPF), WCF, Database.</li>
          <li>FEnhanced the existing Mind Map and Reporting module for internal DataOne product.</li>
        </ul>
      </section>

    </div>
  </article>

  <section class='row resume_session'>
    <h2 class='col-sm-1'>Education</h2>
    <div class='col-sm-9 offset-sm-2'>
      <h3>Guangdong University of Technology – Network Engineer
        <span class='time'>
          <time datetime='2007-09-01'>2007</time>
          &#8211;
          <time datetime='2011-06-30'>2011</time>
        </span>
      </h3>
    </div>
  </section>
  <section class='row resume_session'>
    <h2 class='col-sm-1'>Skills</h2>
    <ul class='col-sm-9 offset-sm-2'>
      <li>Feel comfortable to use C#, VC++, JavaScript, Python, T-SQL.</li>
      <li>Knowledge about full-stack development process, including Angular, HTML/CSS, WebPack, Docker, TypeScript.</li>
      <li>Good understanding of Subversion Control, Software Engineer.ˇ</li>
    </ul>
  </section>

  <footer class='cv_footer'>
    <div class="cv_card">
      <p class="tel"><strong><span class="type">Tel</span>:</strong>
        <a href="callto:+13580358315" rel="me">13580358315</a>
      </p>
      <p class="email"><strong>Email:</strong>
        <a href="mailto:cbingrui@gmail.com" title="Email Ray Chen" rel="me">cbingrui@gmail.com</a>
      </p>
    </div>
  </footer>
</article>
