<button class="btn-print-cv"
        (click)='print()'>
  <svg xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink"
       enable-background="new 0 0 50 50"
       height="50px"
       id="Layer_1"
       version="1.1"
       viewBox="0 0 50 50"
       width="50px"
       xml:space="preserve">
    <rect fill="none"
          height="50"
          width="50" />
    <circle cx="43"
            cy="21"
            r="2" />
    <path d="M40,15V1H10v14"
          fill="none"
          stroke="#000000"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="2" />
    <path d="M40,29v20H10V29H40z"
          fill="none"
          stroke="#000000"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="2" />
    <path d="M10,40H3  c-1.104,0-2-0.896-2-2V17c0-1.104,0.896-2,2-2h44c1.104,0,2,0.896,2,2v21c0,1.104-0.896,2-2,2h-7"
          fill="none"
          stroke="#000000"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="2" />
    <line fill="none"
          stroke="#000000"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="2"
          x1="35"
          x2="15"
          y1="35"
          y2="35" />
    <line fill="none"
          stroke="#000000"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="2"
          x1="31"
          x2="15"
          y1="39"
          y2="39" />
    <line fill="none"
          stroke="#000000"
          stroke-linecap="round"
          stroke-miterlimit="10"
          stroke-width="2"
          x1="35"
          x2="15"
          y1="43"
          y2="43" /> </svg>Print </button>
<article class="container page boxshadow cvmain">
  <header class='row'>
    <h1 class='col-12'>Ray Chen</h1>
  </header>
  <section class='row resume_session'>
    <h2 class='col-sm-1'>Skills</h2>
    <ul class='col-sm-9 offset-sm-2'>
      <li class='cv-listitem'>Feel comfortable with using JavaScript/Typescript/ES6, HTML/CSS, VC++, C#/WPF, T-SQL. Python limited.</li>
      <li class='cv-listitem'>Familiar with MEAN(MongoDB, ExpressJS, Angular2+, NodeJS) stack development & all in Typescript.</li>
      <li class='cv-listitem'>Good understanding of Software Engineer, OOP and Subversion Control</li>
      <li class='cv-listitem sub-listitem'>
        <p>
          <span>Front End</span>
          <span class='add-info'>Semantic elements, Bootstrap, Webpack, Underscore(source code), Chrome DevTool, Wireshark. Photoshop.</span>
        </p>
      </li>
    </ul>
  </section>
  <article class='row resume_session'>
    <h2 class='col-sm-1'>Experience</h2>
    <div class='col-sm-9 offset-sm-2'>
      <section class='exp'>
        <h3 class='experience_h3'>Senior Developer
          <span class="sd-from">from 2016-01</span>
          <span class="time">
            <time datetime="2013-05"
                  class="start">2013</time> To
            <time datetime="2017-09"
                  class="start">2017</time>
          </span>
        </h3>
        <p>
          <strong>
            <!-- https://www.rib-software.com -->RIB Software</strong>
          <b>Guangzhou, China</b>
        </p>
        <ul>
          <li class='cv-listitem'>
            <p>
              <span>Enhance and maintain company's core product. </span>
              <span class='add-info'>VC++, MFC; C#/WPF (little); Database/T-SQL </span>
            </p>
          </li>
          <li class='cv-listitem'>
            <p>
              <span> Designed, developed and delivered customized reports independently, clarified requirements, leaded and supported
                a project of four team members.</span>
              <span class="add-info">Javascript, T-SQL, VBScript, HTML, XSLT, XHR</span>
            </p>
          </li>
          <li class='cv-listitem'>
            <p>
              <span> Provided configurable integrated tools(Connector) based on external system interfaces & data format for data
                interaction.</span>
              <span class='add-info'>JavaScript/Typescript, VC++, HTML/CSS </span>
            </p>
          </li>
          <li class='cv-listitem'>
            <ul class='cv-others-item'>
              <li>Manage database versions</li>
              <li>Create configuration wizard with Python</li>
              <li>Business intelligence researching</li>
              <li>Performance diagnosing and optimizing</li>
              <li>Recruitment involved</li>
              <li>Business meeting abroad</li>
              <li>Write manuals and specifications</li>
              <li>As leader's backup person</li>
            </ul>
          </li>
        </ul>
      </section>
      <section class='exp'>
        <h3 class='experience_h3'>Developer
          <span class="time">
            <time datetime="2011-06"
                  class="start">2011</time> to
            <time datetime="2013-05"
                  class="end">2013</time>
          </span>
        </h3>
        <p>
          <strong>
            <!-- http://www.bingosoft.net -->Bingosoft</strong>
          <b>Guangzhou, China</b>
        </p>
        <ul>
          <li class='cv-listitem'> As core developer, setup fashion and data oriented web applications. </li>
          <li class='cv-listitem'> Enhanced internal DataOne product, a configurable platform from data source to final report. </li>
          <li>
            <span class='add-info'>C#, Silverlight(WPF)/HTML/CSS, WCF, Database.</span>
          </li>
        </ul>
      </section>
    </div>
  </article>
  <section class='row resume_session'>
    <h2 class='col-sm-1'>Education</h2>
    <div class='col-sm-9 offset-sm-2'>
      <h3>Guangdong University of Technology – Network Engineer
        <span class='time'>
          <time datetime='2007-09'>2007</time> to
          <time datetime='2011-06'>2011</time>
        </span>
      </h3>
    </div>
  </section>
  <section class='row resume_session'>
    <p class='col-12'>Learning, coding and sharing. Making a different with technologies.</p>
  </section>
  <footer class='cv_footer'>
    <div class="cv_card">
      <p class="tel">
        <strong>
          <span class="type">Tel</span>:</strong>
        <a href="callto:+13580358315"
           rel="me">13580358315</a>
      </p>
      <p class="email">
        <strong>Email:</strong>
        <a href="mailto:cbingrui@gmail.com"
           title="Email Ray Chen"
           rel="me">cbingrui@gmail.com</a>
      </p>
      <p class="github">
        <strong>Github:</strong>
        <a href="https://github.com/cbingrui">https://github.com/cbingrui</a>
      </p>
    </div>
  </footer>
</article>
