<div class="container page boxshadow">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-xs-12">
      <h1 class="text-center">Your Profile</h1>
      <form [formGroup]="settingsForm"
            (ngSubmit)="submitForm()">
        <fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg"
                   type="text"
                   placeholder="Username"
                   formControlName="username" /> </fieldset>
          <fieldset class="form-group">
            <input class="form-control form-control-lg"
                   type="password"
                   placeholder="New Password"
                   formControlName="password" /> </fieldset>
          <button class="btn btn-lg btn-primary pull-xs-right"
                  type="submit"> Update Settings (not implement yet)</button>
        </fieldset>
      </form>
    </div>
  </div>
</div>
